nav{
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    /* z-index: 1000; */
  }
  .navContainer{
    padding: 0px 0;
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
  }
.menu{
    width: 5000px;
    
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    margin: 10px;

}
a{
    text-decoration: none;
    color: white;
}